.dog-card {
  align-items: center;
  background-color: $white3;
  border-radius: 10px;
  box-shadow: $cardBoxShadow;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 275px;

  .dog-image-container {
    height: 250px;
    width: 215px;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .card-dog-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7px;

    .card-dog-name {
      color: $gray;
      font-size: 1.25rem;
    }

    .card-dog-breed {
      color: $brown3;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  @media screen and (min-device-width: $desktopBreakpoint) {
    .card-dog-info {
      gap: 10px;

      .card-dog-name {
        font-size: 1.6rem;
      }

      .card-dog-breed {
        font-size: 1.2rem;
      }
    }
  }
}
