@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 15px;
}

@media screen and (min-device-width: $desktopBreakpoint) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: $white1;
    box-shadow: inset 0 0 5px $gray;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $brown3;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $darkBrownWithOpacity;
  }
}

@import "./section-title.scss";
@import "./header.scss";
@import "./logo.scss";
@import "./nav.scss";
@import "./home.scss";
@import "./standard-button.scss";
@import "./modal.scss";
@import "./about.scss";
@import "./our-dogs.scss";
@import "./dog-carousel.scss";
@import "./dog-card.scss";
@import "./icon.scss";
@import "./help.scss";
@import "./contact.scss";
@import "./attributions-modal-content.scss";
@import "./our-dogs-page.scss";
@import "./schedule.scss";
