.home-container {
  background: $gradient;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .background-image {
    background-image: url("../images/banner.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    opacity: 0.4;
    width: 100vw;
  }

  .home-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    max-width: 100%;
    .home-title {
      color: $white3;
    }

    .home-text {
      color: $white3;
      font-weight: 500;
    }
  }

  @media screen and (min-device-width: $desktopBreakpoint) {
    .background-image {
      background-position: right;
      background-size: contain;
      height: 100%;
      opacity: 1;
      right: 0;
      top: 0;
    }

    .home-content-container {
      left: 320px;
      padding: 0;
      max-width: 1280px;
      top: 40%;
      width: 38%;
    }

    .home-title {
      font-size: 4rem;
    }

    .home-text {
      font-size: 1.5rem;
    }
  }
}
