.home-container {
  background: $gradient;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .background-image {
    background-image: url("../images/banner.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    opacity: 0.4;
    width: 100vw;
  }

  .home-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
    max-width: 100%;
    padding: 0 20px;
    z-index: 1;
    
    .home-title {
      color: $white3;
    }

    .home-text {
      color: $white3;
      font-weight: 500;
    }
  }

  @media screen and (min-device-width: $desktopBreakpoint) {
    .background-image {
      background-position: right;
      background-size: contain;
      height: 100%;
      opacity: 1;
      right: 0;
      top: 0;
    }

    .home-content-container {
      margin: 0 auto;
      max-width: 1280px;
      width: 100%;
    }

    .home-title {
      font-size: 3.5rem;
      width: 55%;
    }

    .home-text {
      font-size: 1.5rem;
      width: 55%;
    }
  }
}
