.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 50%;
  max-width: 100%;

  .home-title {
    color: $white3;
  }

  .home-text {
    color: $white3;
    font-weight: 500;
  }

  @media screen and (min-device-width: $desktopBreakpoint) {
    left: 320px;
    padding: 0;
    max-width: 1280px;
    top: 40%;
    width: 38%;

    .home-title {
      font-size: 4rem;
    }

    .home-text {
      font-size: 1.5rem;
    }
  }
}
